@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    background-image: url(../img/App.png);
    font-family: "Playwrite GB S";
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-center {
    background-color: #ffffff;
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 155px auto;
}

.form-signin h2 {
    color: #0a144c;
}

.name {
    width: 20%;
}

.num {
    width: 100%;
    margin: 0 38.5%;
    margin-top: 20px;
    top: 0;
    left: 0;
    font-size: 15px;

    a {
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #1f0951;
        text-decoration: none;
        color: #ffffff;
    }

    a:hover {
        background-color: #150723;
    }

}

.c-button {
    width: 50%;
    margin-top: 20px;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    font-family: "Playwrite GB S";
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #150723;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #1f0951;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #1f0951;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #ffffff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}